<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>body {background-color: #ffffff;}#section1 {margin-top: 60px;}</style>
</head>
<body>
    <%- include('./inc/nav') %> 

    <section id="section1" class="sectionIndex">
        <div class="container">
            <div class="w-100">
                <div m-4>
                    <h1 class="text-center text-primary">Hakkında</h1>

                    <h3 class="text-primary">VotingApp Nedir?</h3>
                    <p>
                        Günümüzde; iş, alışveriş ve sosyal etkileşimler dahil olmak üzere insanların günlük rutinleri büyük ölçüde çevrimiçi ortama taşınmıştır.
                        Bu ortamlar arasında yer alan anket uygulamaları da sundukları yenilikçi çözümler ile oldukça dikkat çekmektedir. Bu amaç doğrultusunda geliştirilen
                        VotingApp uygulaması da hızlı ve güvenli bir oylama sistemi sunmaktadır. Kullanıcılar site üzerinde sunulan anketlere katılabilmekte ve
                        anket sonuçları hakkında detaylara erişebilmektedir.Uygulamanın kullandığı blockchain tabanlı sistem; oylamanın güvenli, değişmez ve anonim olmasını
                        garanti etmektedir. Kullanıcılar sisteme giriş yaparak oy kullanabilmektedir.


                    </p>
                    <p>
                        VotingApp uygulamasının hedefleri arasında çevrimiçi ortamda güvenli ve adil bir anket ortamı oluşturmak ilk sırada gelmektedir. Uygulama bu hedef
                        doğrultusunda ağdaki işlemlerin kaydedilmesi ve varlıkların takip edilmesi sürecini kolaylaştıran blockchain yapısını kullanmaktadır. VotingApp 
                        uygulaması ile kullanıcı çeşitli bilgilerini vererek oy kullanmak için kaydolur. Kullanıcı kaydının başarılı olması halinde blockchain 
                        yapısı ile kullanıcıya özel bir anahtar oluşturulur. Kullanıcı anketler arasından seçim yaparak, kendisine sunulan seçenekler arasında oyunu kullanabilir. 
                        Sistem kullanıcının daha önce oy kullanıp kullanmadığını kontrol ederek, oylama verilerinin güvenliğini sağlar. Kullanıcı ilgili ankete daha önce oy 
                        kullanmadıysa, kullanıcının seçimi sisteme kaydedilir. Bu sayede anket bilgileri güncellenmiş olur. VotingApp uygulaması kullanıcının sisteme kaydolması 
                        ve çeşitli anketlere oy vermesi arasında bir dizi adımı takip ederek, sonuçların güvenli ve adil olmasını amaçlamaktadır.

                    </p>
                    <div class="row mt-2 g-2 mt-5">
                        <div class="col-12 col-md-6 col-lg-6 px-5">
                            <h3 class="text-primary">Blockchain Nedir?</h3>
                            <p>
                                VotingApp uygulamasında kullanılan Blockchain yapısı, bir iş ağındaki işlemlerin kaydedilmesi ve varlıkların takip edilmesi sürecini kolaylaştıran, paylaşılan ve üzerinde değişiklik
                                yapılamayan bir sistemdir. Varlıklar somut (ev, araba, nakit, toprak) veya soyut (fikri mülkiyet, patent, telif hakları, marka) olabilir.
                                Değerli hemen hemen her şey bir blockchain ağında izlenebilir ve üzerinde işlem yapılabilir, bu da riski azaltır ve işe dahil olan tüm maliyetlerin
                                düşürülmesini sağlar.


                            </p>
                            <p>
                                İşler, bilgi üzerinden ilerler. Bilgi ne kadar hızlı ve doğru bir şekilde alınırsa o kadar iyidir. Blockchain, yalnızca izni olan ağ üyeleri
                                tarafından erişilebilen ve üzerinde değişiklik yapılamayan bir yapıda depolanan anlık ve tamamen şeffaf bilgiler sağladığı
                                için bilginin sunulması için idealdir. Bir blockchain ağı; siparişleri, ödemeleri, hesapları, üretimi ve çok daha fazlasını takip edebilir. Üyeler,
                                bir işlemin baştan sona tüm ayrıntılarını görebilirir. Böylece yeni verimliliklerin ve fırsatların
                                yanı sıra güvenli bir ortam oluşmuş olur. VotingApp uygulamasında, kullanıcıdan alınan oylama verileri blockchain yapısı ile işlenir.

                            </p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 pl-5">
                            <h3 class="text-primary">Avantajları Nelerdir?</h3>
                            <p>
                                Çevrimiçi oylama, modern toplumda ivme kazanan bir eğilimdir. Anket maliyetlerini düşürme ve katılımını artırma konusunda büyük bir potansiyele sahiptir.
                                İnternet bağlantısı olan her yerden oy kullanılabildiği için uygulama katılımcılara büyük kolaylık sağlamaktadır. Elektronik oylama sistemleri, önemli
                                anketler için kullanıldığında meşru, doğru, güvenli ve kullanışlı olmalıdır. Blockchain teknolojisi geleneksel anketlerde karşılaşılan sorunların
                                üstesinden gelmek için ortaya çıkmıştır. Elektronik oylama için merkezi olmayan düğümler sunmakta ve esas olarak uçtan uca doğrulama avantajları
                                nedeniyle elektronik oylama sistemleri üretmek için kullanılmaktadır. VotingApp uygulamasında kullanılan bu teknoloji, dağıtılmış, reddedilmeyen
                                ve güvenlik koruma özelliklerine sahip geleneksel elektronik oylama çözümlerinin güzel bir alternatifidir. Birçok alanda kullanılabilecek bu uygulama,
                                çeşitli araştırmalar ve değerlendirmeler için objektif sonuçlar sağlamaktadır. Ayrıca katılımcılardan alınan veriler sistemde tutulduğu için anket
                                manipülasyonlarının önüne geçilmektedir. Bu sayede eşit ve adil bir oylama ortamı ortaya çıkmaktadır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>