<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
    </style>
</head>
<body>

  <%- include('./inc/nav') %> 

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px; background-color: #ffffff;">
    <h1 class="w3-margin w3-jumbo">Hoş Geldiniz</h1>
    <p class="w3-xlarge">VotingApp ile çeşitli anketlere oy verebilirsiniz.</p>
    <div class="px-5 py-4">
        <button type="submit" class="btn btn-primary btn-lg">Oylamaya Başla!</button>
      </div>
  </header>
  
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container" style="background-color: #f8f9fa;">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Voting App</h1>
        <h5 class="w3-padding-32">Kullanıcılara online ortamda çeşitli anketlere oy verme imkanı sağlayan VotingApp, blockchain tabanlı bir hizmet sunmaktadır.</h5>
  
        <p class="w3-text-grey">Günümüzde; iş, alışveriş ve sosyal etkileşimler dahil olmak üzere insanların günlük rutinleri büyük ölçüde çevrimiçi ortama taşınmıştır. Bu ortamlar arasında yer alan anket uygulamaları da sundukları yenilikçi çözümler ile oldukça dikkat çekmektedir. Bu amaç doğrultusunda geliştirilen VotingApp uygulaması da hızlı ve güvenli bir oylama sistemi sunmaktadır. Kullanıcılar site üzerinde sunulan anketlere katılabilmekte ve anket sonuçları hakkında detaylara erişebilmektedir.Uygulamanın kullandığı blockchain tabanlı sistem; oylamanın güvenli, değişmez ve anonim olmasını garanti etmektedir. Kullanıcılar sisteme giriş yaparak oy kullanabilmektedir. Bu sayede anket sonuçlarının güvenli ve adil olması sağlanmaktadır.</p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64" style="color: #0b5ed7;"></i>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding  w3-padding-64 w3-container" style="background-color: #ffffff;">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-coffee w3-padding-64 w3-margin-right" style="color: #0b5ed7;"></i>
      </div>
  
      <div class="w3-twothird">
        <h1>Hedefler</h1>
        <h5 class="w3-padding-32">VotingApp uygulamasının hedefleri arasında çevrimiçi ortamda güvenli ve adil bir anket ortamı oluşturmak ilk sırada gelmektedir. Uygulama bu hedef doğrultusunda ağdaki işlemlerin kaydedilmesi ve varlıkların takip edilmesi sürecini kolaylaştıran blockchain yapısını kullanmaktadır.</h5>

        <p class="w3-text-grey">VotingApp uygulaması ile kullanıcı çeşitli bilgilerini vererek oy kullanmak için kaydolur. Kullanıcı kaydının başarılı olması halinde blockchain yapısı ile kullanıcıya özel bir anahtar oluşturulur. Kullanıcı anketler arasından seçim yaparak, kendisine sunulan seçenekler arasında oyunu kullanabilir. Sistem kullanıcının daha önce oy kullanıp kullanmadığını kontrol ederek, oylama verilerinin güvenliğini sağlar. Kullanıcı ilgili ankete daha önce oy kullanmadıysa, kullanıcının seçimi sisteme kaydedilir. Bu sayede anket bilgileri güncellenmiş olur. VotingApp uygulaması kullanıcının sisteme kaydolması ve çeşitli anketlere oy vermesi arasında bir dizi adımı takip ederek, sonuçların güvenli ve adil olmasını amaçlamaktadır.</p>
      </div>
    </div>
  </div>
  
</body>
</html>